html {
    height: 80%;
    width: 80%;
    margin: 0;
    /* display: block; */
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: auto;

}
body {
    height: 100%;
    width: 100%;
}

.container {
    display: grid;
    background-color: cornflowerblue;
    grid-template-columns: 1fr 3fr 1fr;   
    grid-template-areas: "history main scientific";
    height: 100%;
    width: 100%;
    align-items: center;
    text-align: center;



}
.history {
    background-color: rgb(46, 134, 134);
    grid-area: history;
    height: 100%;
    border-color: rgb(0, 0, 0);
    border-width: 5px;
    border-style: solid;
}

.dark .maincalc {
    background-color: darkslategrey;
    color: azure;
    
}



.dark .maincalc .calcscreen #thescreen{
    background-color: rgb(232, 240, 0);
    
    color: black
    
}

.dark .maincalc .calcscreen {
    background-color: rgb(31, 131, 231);
    color: black
    
}

.dark .scientific {

    background-color: darkslategrey;
    color: azure;
}

.dark .history {

    background-color: darkslategrey;
    color: azure;
}

.maincalc {
    background-color: rgb(118, 209, 209);
    grid-area: main;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1.5fr 1.5fr 2fr 2fr;
    grid-template-areas: "left screencalc right"
                            "left screencalc right"                    
                            "left numbers right"
                        "left numbers right";
    align-items: center;
    text-align: center;
    border-color: rgb(0, 0, 0);
    border-width: 3px;
    border-top: 5px;
    border-bottom: 5px;
    border-style: solid;}
.left {
    grid-area:left;
    display: grid;
    grid-template-rows: repeat(7, 1fr);
    height: 100%;

}
.left> div:hover {
    background-color: cornflowerblue;
}

div {
    border-color: rgb(0, 0, 0);
    border-width: 1.5px;
    border-style: solid;
    height: inherit;
    align-items: center;
    text-align: center;
}


.right {
    grid-area:right;
    display: grid;
    grid-template-rows: repeat(7, 1fr);
    height: 100%;
    
}
.right> div:hover {
    background-color: cornflowerblue;
}
.calcscreen {
    grid-area: screencalc;
    background-color: aquamarine;
    
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    height: 100%;
    border-color: rgb(0, 0, 0);
    

}
#thescreen {
    background-color: silver;
    border-style: solid;
    border-width: 3px;
    
}
.nums {
    grid-area: numbers;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    height: 100%;
    text-align: center;
    align-items: center;

}
.nums > div:hover {
    background-color: cornflowerblue;
}

.scientific {
    background-color: aqua;
    grid-area: scientific;
    height: 100%;
    border-color: rgb(0, 0, 0);
    border-width: 5px;
    border-style: solid;
}
img {
    width: auto;
    height: auto;
   object-fit: contain ;
}
@media  (max-width:550px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 3fr 2fr 2fr;
        grid-template-areas: 
        "main"
        "scientific"
        "history";
        align-items: center;
        height: 100vh;
        width: 100%;
    }
}
